.alert {
  border: 1px solid transparent;
  border-radius: 0.25rem;
  margin: 0 auto;
  padding: 1rem 1rem;
  position: relative;
}

.alertDismissible {
  padding-right: 3rem;
}

.alertDismissible .btnClose {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 1.25rem 1rem;
}

.alertDanger {
  color: white;
  background-color: #1b1b1b;
  border-color: #ff3e39;
}

.alertDanger strong {
  color: #ff3e39;
}

.btnClose {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: #fff;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  border: 0;
  border-radius: 0.25rem;
  opacity: 0.4;
}

.btnClose:hover {
  color: #ff3e39;
  text-decoration: none;
  opacity: 1;
}

.btnClose:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(55, 90, 127, 0.25);
  opacity: 1;
}
